<div *ngIf="!isLogged; else alreadyLoggedIn" class="container">
    <mat-card class="login">
        <mat-card-content>
            <div fxLayout="column"
                 fxLayoutAlign="space-between center"
                 fxLayoutGap="20px">
                <mat-icon>lock</mat-icon>
                <p>Cette page permet d'accéder à l'interface d'administration de <b>Ta super App</b></p>
                <button mat-raised-button (click)="signinGoogle()" id="google">Connecter via Google</button>
            </div>
        </mat-card-content>
        <mat-card-footer>
            Pas de compte Google ? <strong>Tant pis pour toi</strong>
            <!-- Ici, si vous voulez faire un "sign-up", mettez un lien vers la page sign-up pour créer un compte avec votre email... -->
        </mat-card-footer>
    </mat-card>
</div>

<ng-template #alreadyLoggedIn>
    <div class="container">
        <mat-card class="login">
            <mat-card-content>
                <div fxLayout="column"
                     fxLayoutAlign="space-between center"
                     fxLayoutGap="20px">
                    <h2 style="text-align:center">Tu es déjà connecté(e) !</h2>
                    <button mat-raised-button routerLink="/">Go Back Home</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>
