

.container {
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login {
    width: 80%;
    max-width: 600px;
button {
    padding-left: 64px;
    height: 48px;
    margin: 10px;
    display: block;
    width: 300px;
}
}

#google {
    border: 1px solid #95989A;
    background: #ffffff url('/assets/google.svg') no-repeat 25px;
    background-size: 25px;
}

mat-card-footer {
    padding-bottom: 20px;
    text-align: center;
}

@media (max-width: 600px) {

    .login {
    button {
        padding-left: 20px;
        padding-right: 0;
        width: 200px;
        text-align: center;
    }
}

#google {
    background: #ffffff url('/assets/google.svg') no-repeat 5px 11px;
    background-size: 25px;
}

}

