<div class="container">
  <h2>Welcome {{currentUser.displayName}} to your personal space</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID Owner</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.borrowerId}}</td>
      <td>{{book.author}}</td>
      <td>{{book.title}}</td>
      <td *ngIf="book.borrowerId == currentUser?.uid">Borrowed by you</td>
      <td *ngIf="book.borrowerId != null && book.borrowerId !== currentUser?.uid">Borrowed</td>
      <td *ngIf="!book.borrowerId">Available</td>
      <td *ngIf="book.borrowerId == currentUser?.uid"><button type="button" class="btn btn-danger deleteButton" (click)="giveBookBack(book.id)">Give Back</button></td>
      <td *ngIf="book.borrowerId != null && book.borrowerId !== currentUser?.uid">----</td>
      <td *ngIf="!book.borrowerId"><button type="button" class="btn btn-danger deleteButton" (click)="borrowBook(book.id)">Borrow</button></td>
    </tr>
    </tbody>
  </table>
</div>



