<div class="container">
  <h2>Welcome to your awesome Book Library</h2>
  <h3>Sign in for more features!</h3>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.author}}</td>
      <td>{{book.title}}</td>
      <td *ngIf="!book.borrowerId">Available</td>
      <td *ngIf="book.borrowerId">Borrowed</td>
    </tr>
    </tbody>
  </table>
</div>



