<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Facebook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: darkslategrey; color: floralwhite;">
  <p>Welcome!</p>
  <div class="container">
    <span th:text="${message}"></span>
  </div>
  <div class="container">
    <div class="btn-group float-right m-3">
      <a href="/new" class="btn btn-primary">Add</a>
    </div>
  </div>
  <div class="container">
    <table class="table table-striped table-dark">
      <thead class="thead-light">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Age</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td scope="row" th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
      </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
